@tailwind base;
@tailwind components;
@tailwind utilities;


.markdown-content body {
  padding: 2em;
}

.markdown-content h1 {
  font-size: 1.5em;
  color: #343434;
}

.markdown-content h2 {
  font-size: 1.25em;
  color: #343434;
}

.markdown-content h3 {
  font-size: 1em;
  color: #343434;
}

.markdown-content img {
  padding: 1.5em;
}

.markdown-content a {
  color: #69a658;
  text-decoration: none;
}

.markdown-content a:hover {
  text-decoration: underline;
}

.markdown-content p {
  padding-bottom: 0.75em;
  padding-top: 0.3em;
}

.markdown-content ol, ul {
  padding-left: 0em;
  padding-bottom: 0.75em;
  padding-top: 0.3em;
}

li > p {
  display: inline;
}

.markdown-content ol > li {
  list-style-type: decimal;
  list-style-position: inside;
}

.markdown-content ul > li {
  list-style-type: disc;
  list-style-position: inside;
}

.markdown-content code {
  height: auto;
  flex-grow: 1;
  background: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 0.375rem;
  font-size: 0.9em;
}

pre > code {
  display:block;
}